<link rel="stylesheet" href="css/cart.css">

<div id="cart-container">
    <div id="reservation-details">
        <h2 id="cart-header"><i class="fa fa-shopping-cart"></i>Your Cart</h2>
        <div id="schedule-detail">
            <div id="reservation-for">Reservation for: </div>
            <div id="reservation-datetime">
                <div><i class="fa fa-calendar-alt"></i>Date:</div>
                <div id="date-detail">--/--/----</div>
                <div><i class="fa fa-clock"></i>Time:</div>
                <div id="time-detail">--:-- --</div>
            </div>
        </div>
    </div>
    <div id="services-container">
    </div>
    <div class="error-msg" data-error-status="normal"></div>
    <div id="reservation-footer">
        <div id="price-container">
            <div id="estimated-price">Estimated Price: </div>
            <div id="total-price-label">₱<span id="total-price-value">1000.00</span></div>
        </div>
        <div id="cart-controls-container">
            <button class="btn" id="btn-reserve" type="submit"><i class="fa fa-check"></i>Reserve</button>
            <button class="btn" id="btn-reset" type="submit"></button>
        </div>
    </div>
</div>