<link rel="stylesheet" href="css/cart.css">
<script src="/js/auth.js"></script>

<div id="cart-container">
    <div id="reservation-details">
        <h2 id="cart-header"><i class="fa fa-shopping-cart"></i>Your Cart</h2>
        <div id="schedule-detail">
            <div id="reservation-for">Reservation for: </div>
            <div id="reservation-datetime">
                <div><i class="fa fa-calendar-alt"></i>Date:</div>
                <div id="date-detail">01/01/2023</div>
                <div><i class="fa fa-clock"></i>Time:</div>
                <div id="time-detail">10:00 AM</div>
            </div>
        </div>
    </div>
    <div id="services-container">
        <div class="cart-item">
            <div class="cart-service-details">
                <div class="cart-service-name">Nail Care <span class="quantity">(&times;1)</span></div>
                <label>Preferred Staff:<span class="cart-staff-name">Ann</span></label>
                <div class="cart-other-details">ung bagay n kulay po sana sa pasko tnx</div>
            </div>
            <div class="cart-price-label">₱<span class="cart-price-value">500.00</span></div>
            <div class="edit-btn-container">
                <button class="btn edit add-btn">+</button>
                <button class="btn edit remove-btn">-</button>
            </div>
        </div>
        <div class="cart-item">
            <div class="cart-service-details">
                <div class="cart-service-name">Nail Care <span class="quantity">(&times;1)</span></div>
                <label>Preferred Staff:<span class="cart-staff-name">Ann</span></label>
                <div class="cart-other-details">ung bagay n kulay po sana sa pasko tnx</div>
            </div>
            <div class="cart-price-label">₱<span class="cart-price-value">500.00</span></div>
            <div class="edit-btn-container">
                <button class="btn edit add-btn">+</button>
                <button class="btn edit remove-btn">-</button>
            </div>
        </div>
    </div>
    <div id="error-msg" data-error-status="normal"></div>
    <div id="reservation-footer">
        <div id="price-container">
            <div id="estimated-price">Estimated Price: </div>
            <div id="total-price-label">₱<span id="total-price-value">1000.00</span></div>
        </div>
        <div id="cart-controls-container">
            <button class="btn" id="btn-reserve" type="submit"><i class="fa fa-check"></i>Reserve</button>
            <button class="btn" id="btn-reset" type="submit"></button>
        </div>
    </div>
</div>