<link rel="stylesheet" href="css/footer.css">

<div id="footer">
    <div id="walk-in-info">
        <div>For walk-ins:</div>
        <div id="walk-in-address">2F Cash and Carry Mall, Makati City</div>
        <div>Open everyday from 10 AM to 8PM</div>
    </div>
    <div id="contact-info">
        <div id="facebook-info">
            <div class="wrap" id="visit-text">Visit our Facebook Page</div>
            <a href="https://www.facebook.com/straightnaturellesalon"><img id="fb-logo" src="/assets/images/facebook-logo.png"></a>
        </div>
        <div id="telephone-info">
            <div>Call us:</div>
            <div id="telephone-num"><i class="fa fa-phone"></i><a href="tel:(02)84031471">(02)84031471</a></div>
        </div>
    </div>
    <div id="copyright">&copy; Copyright | Salon Naturelle 2012.<br />
        <span class="underlined">All Rights Reserved.</span>
    </div>
</div>