<link rel="stylesheet" href="css/footer.css">

<div id="footer">
    <div id="walk-in-info">
        <div>For walk-ins:</div>
        <div id="walk-in-address">2F Cash and Carry Mall, Makati City</div>
        <div>Open everyday from 10 AM to 8PM</div>
    </div>
    <div id="contact-info">
        <div id="facebook-info">
            <div class="wrap" id="visit-text">Visit our Facebook Page</div>
            <a href="https://www.facebook.com/straightnaturellesalon"><img id="fb-logo" src="/assets/images/facebook-logo.png"></a>
        </div>
        <div id="telephone-info">
            <div>Call us:</div>
            <img id="telephone-icon" src="/assets/images/telephone-icon.png">
            <span id="telephone-num">(02)84031471</span>
        </div>
    </div>
    <div id="copyright">&copy; Copyright | Salon Naturelle 2012.
        <span class="underlined">All Rights Reserved</span>
    </div>
</div>