<link rel="stylesheet" href="css/navbar.css">

<nav class="navbar navbar-expand-lg sticky-top" id="header">
    <div class="container-fluid px-5">
        <a href="/" class="navbar-brand">
            <img id="salon-logo" src="/assets/images/salon-logo.png">
        </a>
        <ul class="navbar-nav" id="nav-bar">
            <li class="nav-item active" id="home-bt">
                <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item" id="about-bt">
                <a href="" class="nav-link">About</a>
            </li>
            <li class="nav-item dropdown" id="services-bt">
                <a href="" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Services</a>
                <ul class="dropdown-menu">
                    <li><a href="" class="dropdown-item">Hair</a></li>
                    <li><a href="" class="dropdown-item">Keratin</a></li>
                    <li><a href="" class="dropdown-item">Rebond</a></li>
                    <li><a href="" class="dropdown-item">Styling</a></li>
                    <li><a href="" class="dropdown-item">Nails</a></li>
                </ul>
            </li>
            <li class="nav-item" id="promos-bt">
                <a href="" class="nav-link">Promos</a>
            </li>
            <li class="nav-item" id="faq-bt">
                <a href="" class="nav-link">FAQ</a>
            </li>
            <li class="nav-item last" id="contacts-bt">
                <a href="" class="nav-link">Contacts</a>
            </li>
        </ul>
        <button class="btn" id="btn-login" type="button" data-toggle="modal" data-target="#exampleModal">LOG IN</button>
    </div>
</nav>