<link rel="stylesheet" href="css/navbar.css">
<script type="module" src="/js/navbar.js"></script>

<nav class="navbar navbar-dark navbar-expand-xl sticky-top" id="header">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">
            <img id="salon-logo" src="/assets/images/salon-logo.png">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav">
                <li class="nav-item{{#if active.home}} active{{/if}}" id="home-bt">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item{{#if active.about}} active{{/if}}" id="about-bt">
                    <a href="" class="nav-link">About</a>
                </li>
                <li class="nav-item dropdown{{#if active.services}} active{{/if}}" id="services-bt">
                    <a href="" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Services</a>
                    <ul class="dropdown-menu">
                        <li><a href="" class="dropdown-item">Hair</a></li>
                        <li><a href="" class="dropdown-item">Keratin</a></li>
                        <li><a href="" class="dropdown-item">Rebond</a></li>
                        <li><a href="" class="dropdown-item">Styling</a></li>
                        <li><a href="" class="dropdown-item">Nails</a></li>
                    </ul>
                </li>
                <li class="nav-item{{#if active.promos}} active{{/if}}" id="promos-bt">
                    <a href="" class="nav-link">Promos</a>
                </li>
                <li class="nav-item{{#if active.faq}} active{{/if}}" id="faq-bt">
                    <a href="" class="nav-link">FAQ</a>
                </li>
                <li class="nav-item{{#if active.contacts}} active{{/if}}" id="contacts-bt">
                    <a href="" class="nav-link">Contacts</a>
                </li>
            </ul>
        </div>
        {{#if logged_in.state}}
        <div class="dropdown">
            <div class="dropdown-toggle" id="nav-user" data-bs-toggle="dropdown"><i class="fa fa-user-circle"></i>{{logged_in.user.firstName}}</div>
            <ul class="dropdown-menu w-100" id="user-dropdown-menu">
                <li><a href="" class="dropdown-item">My Profile</a></li>
                <li><a href="" class="dropdown-item">My Reservations</a></li>
                <li><a href="" class="dropdown-item w-100 h-100" id="log-out-bt">Log Out</a></li>
            </ul>
        </div>
        {{else}}
        <a class="btn{{#if active.login}} active{{/if}}" id="btn-login" href="/login">LOG IN</a>
        {{/if}}
    </div>
</nav>