<link rel="stylesheet" href="css/form.css">
<link rel="stylesheet" href="css/reservationform.css">
<script type="module" src="/js/reservationform.js"></script>

<form class="form-reservation" id="form-reservation">
    <h2 class="reservation-header"><i class="fa fa-plus-square"></i>Reservation</h2>
    <div class="row g-4 mb-3">
        <div class="col">
            <label class="form-label" for="input-date"><i class="fa fa-calendar-alt"></i>Date</label>
            <input class="form-control" id="input-date" name="date" type="date" placeholder="Ex: 01/01/2023">
        </div>
        <div class="col">
            <label class="form-label" for="input-time"><i class="fa fa-clock"></i>Time</label>
            <select class="form-select" id="input-time" name="time">
            </select>
        </div>
    </div>
    <div class="error-msg" id="reserve-error-msg" data-error-status="normal"></div>
    <div id="last-row">
        <button class="btn" id="btn-submit" type="submit"><i class="fa fa-check"></i>Check Availability</button>
    </div>
</form>