<link rel="stylesheet" href="css/serviceform.css">
<script type="module" src="/js/serviceform.js"></script>

<form class="form-reservation" id="form-service">
    <h2 class="reservation-header"><i class="fa fa-user-cog"></i>Service Details</h2>
    <div class="mb-3">
        <label class="form-label" for="input-service"><i class="fa fa-cogs"></i>Service</label>
        <select class="form-select" id="input-service" name="service" type="text" disabled>
            <option value="" selected disabled hidden>Choose a Service</option>
            <option value="1">Hair Color</option>
            <option value="2">Nail Care</option>
            <option value="3">Classic Rebond</option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label" for="input-staff"><i class="fa fa-users-cog"></i>Staff Preference</label>
        <select class="form-select" id="input-staff" name="staff" type="text" disabled>
            <option value="" selected disabled hidden>Choose a Staff</option>
            <option value="0">No Preference</option>
            <option value="1">Ann</option>
            <option value="2">Bob</option>
            <option value="3">Cindy</option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label" for="input-details"><i class="fa fa-clipboard-list"></i>Other Details</label>
        <textarea class="form-control" id="input-details" name="details" type="text"
            placeholder="Ex: hair color, nail color, etc." disabled></textarea>
    </div>
    <div class="error-msg" id="add-error-msg" data-error-status="normal"><i class="fa fa-check"></i></div>
    <div id="last-row">
        <button class="btn" id="btn-submit" type="submit"><i class="fa fa-cart-plus"></i>Add to Cart</button>
    </div>
</form>