<link rel="stylesheet" href="css/servicesection.css">

<div class="service-section-container">
    <table class="service-table">
        <tr class="first-row">
            <th class="service-title">Nail Care</th>
            <th class="service-option">Manicure</th>
            <th class="service-option">Pedicure</th>
        </tr>
        <tr>
            <td class="service-suboption">Regular Polish</td>
            <td class="service-price">220</td>
            <td class="service-price">270</td>
        </tr>
        <tr>
            <td class="service-suboption">Nail Lacquer</td>
            <td class="service-price">290</td>
            <td class="service-price">340</td>
        </tr>
    </table>
</div>