<link rel="stylesheet" href="/css/sidebar.css">
<link rel="stylesheet" href="/css/fab.css">
<link rel="stylesheet" href="/css/modal.css">
<script src="/js/fab.js"></script>

<div id="sidenav">
    <div id="salon-title">Salon<br/>Naturelle</div>
    <div id="sidenav-container">
        <ul class="nav">
            <li class="nav-item{{#if active.admin_home}} active{{/if}}">
                <a href="/admin" class="nav-link">Dashboard<i class="fa fa-solid fa-home"></i></a>
            </li>
            <li class="nav-separator">
                <hr>
            </li>
            <li class="nav-item{{#if active.admin_reservations}} active{{/if}}">
                <a href="/admin/reservations" class="nav-link">Reservations<i class="fa fa-solid fa-sticky-note"></i></a>
            </li>
            <li class="nav-item{{#if active.admin_services}} active{{/if}}">
                <a href="/admin/services" class="nav-link">Services<i class="fa fa-solid fa-spa"></i></a>
            </li>
            <li class="nav-item{{#if active.admin_employees}} active{{/if}}">
                <a href="/admin/employees" class="nav-link">Employees<i class="fa fa-solid fa-users-cog"></i></a>
            </li>
            <li class="nav-item{{#if active.admin_FAQ}} active{{/if}}">
                <a href="/admin/faq" class="nav-link">FAQ<i class="fa fa-solid fa-question-circle"></i></a>
            </li>
        </ul>
    </div>
    <div id="bottom-btn-container">
        <a href="/" class="btn bottom-btn" id="customer-view-btn"><i class="fa fa-solid fa-laptop"></i>Customer View</a>
        <div id="account-tab-container">
            <button class="btn bottom-btn" id="settings-btn" data-bs-toggle="modal" data-bs-target="#modal-settings-edit"><i class="fa fa-solid fa-gear"></i>Settings</button>
            <a href="/logout" class="btn bottom-btn" id="admin-logout-btn"><i class="fa fa-solid fa-right-from-bracket"></i>Log Out</a>
        </div>
    </div>
    <div id="fab-container">
        <button id="btn-fab" data-toggle="fab" data-fab-blur-target="#admin-wrapper">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div id="fab-items-container">
            <a href="/" class="fab-item-group" id="customer-view-fab">
                <div class="fab-item-label">Customer View</div>
                <div class="fab-item-icon"><i class="fa fa-laptop"></i></div>
            </a>
            <a href="" class="fab-item-group" id="settings-fab">
                <div class="fab-item-label">Settings</div>
                <div class="fab-item-icon"><i class="fa fa-gear"></i></div>
            </a>
            <a href="/logout" class="fab-item-group" id="logout-fab">
                <div class="fab-item-label">Log Out</div>
                <div class="fab-item-icon"><i class="fa fa-right-from-bracket"></i></div>
            </a>
        </div>
    </div>
</div>

<div class="modal modal-md fade" id="modal-settings-edit">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Account Settings</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form-settings-edit">
                    <div class="row mb-3">
                        <div class="col">
                            <label for="input-edit-username" class="form-label">Username</label>
                            <input type="text" id="input-edit-username" name="username" class="form-control">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="input-edit-old-password" class="form-label">Old Password</label>
                        <input type="password" id="input-edit-old-password" name="old_password" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="input-edit-new-password" class="form-label">New Password</label>
                        <input type="password" id="input-edit-new-password" name="new_password" class="form-control">
                    </div>
                    <div class="error-msg" id="form-employee-edit-error" data-error-status="normal"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-discard" data-bs-dismiss="modal"><i class="fa fa-trash"></i>Discard</button>
                <button type="submit" class="btn btn-modal-success" form="form-employee-edit"><i class="fa fa-check"></i>Save</button>
            </div>
        </div>
    </div>
</div>