<link rel="stylesheet" href="/css/sidebar.css">

<div id="sidenav">
    <div id="salon-title">Salon<br/>Naturelle</div>
    <div id="sidenav-container">
        <ul class="nav">
            <li class="nav-item{{#if active.admin_home}} active{{/if}}">
                <a href="/admin" class="nav-link">Dashboard<i class="fa fa-solid fa-home"></i></a>
            </li>
            <li>
                <hr>
            </li>
            <li class="nav-item{{#if active.admin_reservations}} active{{/if}}">
                <a href="/admin/reservations" class="nav-link">Reservations<i class="fa fa-solid fa-sticky-note"></i></a>
            </li>
            <li class="nav-item{{#if active.admin_services}} active{{/if}}">
                <a href="/admin/services" class="nav-link">Services<i class="fa fa-solid fa-spa"></i></a>
            </li>
            <li class="nav-item{{#if active.admin_employees}} active{{/if}}">
                <a href="/admin/employees" class="nav-link">Employees<i class="fa fa-solid fa-users-cog"></i></a>
            </li>
            <li class="nav-item{{#if active.admin_promos}} active{{/if}}">
                <a href="/admin/promos" class="nav-link">Promos<i class="fa fa-solid fa-tag"></i></a>
            </li>
        </ul>
    </div>
    <div id="bottom-btn-container">
        <a href="/logout" class="btn bottom-btn" id="customer-view-btn"><i class="fa fa-solid fa-laptop"></i>Customer View</a>
        <div id="account-tab-container">
            <button class="btn bottom-btn" id="settings-btn"><i class="fa fa-solid fa-gear"></i>Settings</button>
            <a href="/logout/admin" class="btn bottom-btn" id="admin-logout-btn"><i class="fa fa-solid fa-right-from-bracket"></i>Log Out</a>
        </div>
    </div>
</div>