<link rel="stylesheet" href="/css/about.css">

<div class="container-fluid">
<div class="row">
    <div class="col">
        <img id="salon-banner" src="/assets/images/salon-banner.jpg" alt="salon banner">
    </div>
    <div class="col">
        <h1 id="about-header">
            <span class="about-header-outline">Where</span>
            <span class="about-header-highlight">Beauty</span>
            <br />
            <span class="about-header-outline">Meets</span>
            <span class="about-header-highlight">Mother Nature</span>
        </h1>
        <p class="about-body">
            Welcome to <span class="about-body-branding">Salon Naturelle</span>, a hidden gem nestled deep within the lush, mystical forests of the Enchanted Valley. Our salon is unlike any other, as we draw our inspiration directly from the heart of Mother Nature herself.
        </p>
        <p class="about-body">
            Upon entering <span class="about-body-branding">Salon Naturelle</span>, you'll be transported to a world where the boundaries between the natural and the luxurious blur into one harmonious experience. Our talented team of woodland nymphs and forest faeries will cater to your every beauty need, utilizing ancient, secret elixirs made from dewdrops collected at sunrise and rare petals harvested under the light of the full moon.
        </p>
    </div>
</div>
</div>