<link rel="stylesheet" href="/css/form.css">
<link rel="stylesheet" href="/css/bs-form-override.css">
<link rel="stylesheet" href="/css/modal.css">
<link rel="stylesheet" href="/css/admin-reservations.css">
<script type="module" src="/js/admin-reservations.js"></script>

<div class="admin-wrapper bg-noise-pattern">
    <div class="admin-header-wrapper">
        <div class="admin-header-container">
            <h2 class="admin-header">Reservations</h2>
        </div>
    </div>
    <div class="admin-container">
        <div id="admin-reservations-container">
        </div>
    </div>
</div>

<div class="modal">
    <div class="modal-content">
    </div>
</div>

<!--
<link rel="stylesheet" href="/css/form.css">
<link rel="stylesheet" href="/css/bs-form-override.css">
<link rel="stylesheet" href="/css/modal.css">
<link rel="stylesheet" href="/css/services-admin.css">
<script type="module" src="/js/admin-reservations.js"></script>

<div class="admin-wrapper bg-noise-pattern">
    <div class="admin-header-wrapper">
        <div class="admin-header-container">
            <h2 class="admin-header">Reservations</h2>
        </div>
    </div>
    <div class="reservation-list-container">
        {{#each reservations}}
            <button class="reservation-button"><span> Reservation for 2023 November 28 </span></button>
        {{/each}}

         {{#each reservations}}
            <button class="reservation-button" data-reservation-id="{{this._id}}">Reservation {{@index}}</button>
        {{/each}}
    </div>
</div>


<div class="reservation-container">
    <div class="info-header">
        <h1>Your Reservations</h1>
    </div>
    <div class="reservation-list-container">
        <button><span> Reservation for 2023 November 28 </span></button>
        <button><span>hello </span></button>
    </div>
</div>

<div id="reservation-modal" class="modal">
    <div class="modal-content">
        <h4>Reservation Details</h4>
        <p>{{reservation.details}}</p>
    </div>
    <div class="modal-footer">
        <button class="modal-close">Close</button>
    </div>
</div>

-->