<link rel="stylesheet" href="/css/form.css">
<link rel="stylesheet" href="/css/bs-form-override.css">
<link rel="stylesheet" href="/css/employee-modal.css">
<link rel="stylesheet" href="/css/employee-reservations.css">
<script type="module" src="/js/employee-reservations.js"></script>

<div class="employee-wrapper bg-noise-pattern">
    <div class="employee-header-wrapper">
        <div class="employee-header-container">
            <h2 class="employee-header">Reservations</h2>
            <div hidden id="employee-id" data-employee-id = "{{logged_in.user.employee_id}}"></div>
        </div>
    </div>
    <div class="employee-container">
        <div id="employee-reservations-container">
        </div>
    </div>
</div>

<div class="modal modal-lg fade" id="modal-reservation-services">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Services</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="modal-reservation-details">
                    <h5 class="modal-reservation-details-header">Reservation Details</h5>
                    <div class="modal-reservation-user-container">
                        <i class="fa fa-user"></i>
                        <span id="modal-reservation-services-user">Juan Dela Cruz</span>
                    </div>
                    <div class="modal-reservation-datetime-container">
                        <i class="fa fa-calendar"></i>
                        <span id="modal-reservation-services-datetime">Feb. 16 – 6:00 PM</span>
                    </div>
                </div>
                <div id="modal-reservation-services-container" class="accordion">

                </div>
                <div id="modal-service-status-reason-container">
                    <label class="form-label" for="service-status-change-reason">Reason For Status Change:</label>
                    <textarea type="text" name="reason" id="service-status-change-reason" placeholder="Enter your reason here..."></textarea>
                </div>
            </div>
        </div>
    </div>
</div>