<link rel="stylesheet" href="/css/faq-admin.css">
<script type="module" src="/js/faq-admin.js"></script>

<div class="admin-wrapper bg-noise-pattern">
    <div class="admin-header-wrapper">
        <div class="admin-header-container">
            <h2 class="admin-header">Frequently Asked Questions</h2>
            <button type="button" id="add-btn" class="btn admin-header-btn" data-bs-toggle="modal" data-bs-target="#add-faq-modal"><i class="fa fa-plus"></i>Add</button>
        </div>
    </div>
    <div class="admin-responsive-controls-container">
        <button type="button" id="add-btn" class="btn admin-header-btn" data-bs-toggle="modal" data-bs-target="#add-faq-modal"><i class="fa fa-plus"></i>Add a FAQ</button>
    </div>
    <div class="admin-container">
        <div id="faq-collection-container"></div>
    </div>
</div>

<!-- Add Modal-->
<div class="modal fade modal-lg" id="add-faq-modal" tabindex="-1" aria-labelledby="add-faq-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add FAQ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="form-add-faq">
                <div class="modal-body">
                    <div class="col mb-3">
                        <label class="form-label" for="input-question">Question</label>
                        <input class="form-control" id="input-question" name="question" type="text">
                    </div>
                    <div class="col mb-4">
                        <label class="form-label" for="input-answer">Answer</label>
                        <textarea class="form-control" id="input-answer" name="answer"></textarea>
                    </div>
                    <div class="error-msg" id="add-faq-error-msg" data-error-status="normal"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-discard" data-bs-dismiss="modal"><i class="fa fa-trash"></i>Discard</button>
                    <button type="submit" class="btn btn-modal-success" id="add-faq-btn"><i class="fa fa-plus"></i>Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Edit Modal-->
<div class="modal fade modal-lg" id="edit-faq-modal" tabindex="-1" aria-labelledby="edit-faq-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit FAQ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="form-edit-faq">
                <input type="hidden" id="edit-input-faq-id" name="edit-faq-id">
                <div class="modal-body">
                    <div class="col mb-3">
                        <label class="form-label" for="edit-input-question">Question</label>
                        <input class="form-control" id="edit-input-question" name="question" type="text">
                    </div>
                    <div class="col mb-4">
                        <label class="form-label" for="edit-input-answer">Answer</label>
                        <textarea class="form-control" id="edit-input-answer" name="answer"></textarea>
                    </div>
                    <div class="error-msg" id="edit-faq-error-msg" data-error-status="normal"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-discard" data-bs-dismiss="modal"><i class="fa fa-trash"></i>Discard</button>
                    <button type="submit" class="btn btn-modal-success" form="form-edit-faq"><i class="fa fa-check"></i>Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete Modal-->
<div class="modal fade" id="delete-faq-modal" tabindex="-1" aria-labelledby="delete-faq-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="delete-modal-content">
            <div class="modal-header delete-modal-header">
                <h5 class="modal-title">Delete FAQ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="delete-input-faq-id" name="delete-faq-id">
                <div class="modal-text">Are you sure you want to delete this FAQ?</div>
                <div class="modal-text" id="delete-question"></div>
                <div class="modal-text" id="delete-answer"></div>
                <div class="error-msg" id="delete-faq-error-msg" data-error-status="normal"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-neutral" data-bs-dismiss="modal"><i class="fa fa-xmark"></i>Cancel</button>
                <button type="submit" class="btn btn-delete"><i class="fa fa-trash"></i>Delete</button>
            </div>
        </div>
    </div>
</div>