<link rel="stylesheet" href="css/login.css">

<div id="login-frame">
    <form id="login-form">
        <div id="login-header">Welcome back!</div>
        <input class="form-input" id="email-input" type="email" placeholder="Email Address">
        <input class="form-input" id="password-input" type="password" placeholder="Password">
        <label id="error-msg">The username/password does not exist.</label>
        <div id="last-row">
            <a href="" id="register-link">Create an Account</a>
            <input id="submit-btn" type="submit" value="Log In">
        </div>
    </form>
</div>