<link rel="stylesheet" href="/css/login-admin.css">
<script type="module" src="/js/auth.js"></script>

<div id="form-wrapper">
    <form id="form-login-admin" class="form-container" method="post">
        <div id="salon-title-login">Salon</br>Naturelle</div>
        <h2 id="form-header">Admin Login</h2>
        <div class="mb-3">
            <input class="form-control form-control-lg" id="input-username" name="username" type="text" placeholder="Username">
        </div>
        <div class="mb-3">
            <input class="form-control form-control-lg" id="input-password" name="password" type="password" placeholder="Password">
        </div>
        <div class="error-msg" id="login-admin-error-msg" data-error-status="{{#if (isUndefined error)}}normal{{else}}error{{/if}}">{{error}}</div>
        <div id="last-row">
            <a href="/" id="form-switch-link">Go Back To Customer View</a>
            <button class="btn" id="btn-submit" type="submit">Log In</button>
        </div>
    </form>
</div>