<link rel="stylesheet" href="/css/homepage-admin.css">

<div id="dashboard-wrapper">
    <h2>Admin Dashboard</h2>
    <div id="tools-container">
        <div class="tool-row">
            <a href="/admin" class="btn tool-btn"><i class="fa-solid fa-sticky-note fa-3x"></i>Reservations</a>
            <a href="/admin" class="btn tool-btn"><i class="fa-solid fa-spa fa-3x"></i>Services</a>
        </div>
        <div class="tool-row">
            <a href="/admin" class="btn tool-btn"><i class="fa-solid fa-users-cog fa-3x"></i>Employees</a>
            <a href="/admin" class="btn tool-btn"><i class="fa-solid fa-tag fa-3x"></i>Promos</a>
        </div>
    </div>
</div>