<link rel="stylesheet" href="/css/main-admin.css">

<div id="dashboard-wrapper">
    <div class="sticky-top h-100" id="left-side-container">
        <div id="salon-title">Salon<br/>Naturelle</div>
        <div id="user-name">Hi, Admin!</div>
        <div id="sidebar-btn-container">
            <a href="/" class="btn sidebar-btn"><i class="fa-solid fa-laptop"></i> Go to Customer View</a>
            <btn class="btn sidebar-btn">Account Settings</btn>
            <btn class="btn sidebar-btn" id="admin-logout-btn">Log Out</btn>
        </div>
    </div>
    <div id="right-side-container">
        <h2>Admin Dashboard</h2>
        <div id="tools-container">
            <btn class="btn tool-btn"><i class="fa fa-sticky-note"></i> Manage Reservations</btn>
            <btn class="btn tool-btn"><i class="fa-solid fa-spa"></i> Manage Services</btn>
            <btn class="btn tool-btn"><i class="fa fa-users-cog"></i> Manage Employees</btn>
            <btn class="btn tool-btn"><i class="fa fa-tag"></i> Manage Promos</btn>
        </div>
    </div>
</div>