<link rel="stylesheet" href="/css/main-admin.css">

<div id="dashboard-wrapper">
    <div class="sticky-top h-100" id="left-side-container">
        <div id="salon-title">Salon<br/>Naturelle</div>
        <div id="sidebar-btn-container">
            <a href="/admin" class="btn border-0 sidebar-btn{{#if active.adminhome}} active{{/if}}">Dashboard<i class="fa-solid fa-home"></i></a>
            <hr>
            <a href="/admin" class="btn border-0 sidebar-btn{{#if active.adminreservations}} active{{/if}}">Reservations<i class="fa-solid fa-sticky-note"></i></a>
            <a href="/admin" class="btn border-0 sidebar-btn{{#if active.adminservices}} active{{/if}}">Services<i class="fa-solid fa-spa"></i></a>
            <a href="/admin" class="btn border-0 sidebar-btn{{#if active.adminemployees}} active{{/if}}">Employees<i class="fa-solid fa-users-cog"></i></a>
            <a href="/admin" class="btn border-0 sidebar-btn{{#if active.adminpromos}} active{{/if}}">Promos<i class="fa-solid fa-tag"></i></a>
        </div>
        <div id="bottom-btn-container">
            <a href="/" class="btn bottom-btn" id="customer-view-btn"><i class="fa-solid fa-laptop"></i>Customer View</a>
            <div id="account-tab-container">
                <btn class="btn bottom-btn" id="settings-btn"><i class="fa-solid fa-gear"></i>Settings</btn>
                <btn class="btn bottom-btn" id="admin-logout-btn"><i class="fa-solid fa-right-from-bracket"></i>Log Out</btn>
            </div>
        </div>
    </div>
    <div id="right-side-container">
        <h2>Admin Dashboard</h2>
        <div id="tools-container">
            <div class="tool-row">
                <a href="/admin" class="btn tool-btn"><i class="fa-solid fa-sticky-note fa-3x"></i>Reservations</a>
                <a href="/admin" class="btn tool-btn"><i class="fa-solid fa-spa fa-3x"></i>Services</a>
            </div>
            <div class="tool-row">
                <a href="/admin" class="btn tool-btn"><i class="fa-solid fa-users-cog fa-3x"></i>Employees</a>
                <a href="/admin" class="btn tool-btn"><i class="fa-solid fa-tag fa-3x"></i>Promos</a>
            </div>
        </div>
    </div>
</div>