<link rel="stylesheet" href="/css/homepage-admin.css">

<div id="dashboard-wrapper" class="bg-noise-pattern">
    <div id="dashboard-header-container">
        <h2 id="dashboard-header">Admin Dashboard</h2>
    </div>
    <div id="tools-container">
        <a href="/admin/reservations" class="tool-btn"><i class="fa fa-solid fa-sticky-note"></i>Reservations</a>
        <a href="/admin/services" class="tool-btn"><i class="fa fa-solid fa-spa"></i>Services</a>
        <a href="/admin/employees" class="tool-btn"><i class="fa fa-solid fa-users-cog"></i>Employees</a>
        <a href="/admin/faq" class="tool-btn"><i class="fa fa-solid fa-question-circle"></i>FAQ</a>
    </div>
</div>