<link rel="stylesheet" href="css/homepage.css">
<div id="homepage-container">
    <div id="title-promo-container">
        <div id="title-container">
            <div id="salon-title">Salon<br />Naturelle</div>
            <div id="salon-subtitle">HAIR. NAILS. BROWS. LASHES.</div>
            <div id="salon-address">2F Cash and Carry Mall, Makati City</div>
            <a class="btn" id="btn-reservation" href="/reservation"><i class="fa-solid fa-scissors" style="color: #ffffff;"></i>Make a Reservation</a>
        </div>
        <div id="promo-container" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#promo-container" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#promo-container" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#promo-container" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner" role="listbox" style="width:100%; height: 800px !important;">
                <div class="carousel-item active">
                <img src="/assets/images/promo1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                <img src="/assets/images/promo2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                <img src="/assets/images/promo3.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#promo-container" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#promo-container" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
