<link rel="stylesheet" href="css/register.css">
<script src="/js/auth.js"></script>

<div id="form-wrapper">
    <form id="form-register" class="form-container">
        <h2 id="form-header">Create an Account</h2>
        <div class="row mb-3">
            <div class="col">
                <label class="form-label" for="input-firstname">First Name</label>
                <input class="form-control" id="input-firstname" name="firstname" type="text" placeholder="Ex: Juan" required>
            </div>
            <div class="col">
                <label class="form-label" for="input-lastname">Last Name</label>
                <input class="form-control" id="input-lastname" name="lastname" type="text" placeholder="Ex: Dela Cruz" required>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="input-email">Email Address</label>
            <input class="form-control" id="input-email" name="email" type="email" placeholder="Ex: juandelacruz@gmail.com" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="input-contactnum">Contact Number</label>
            <input class="form-control" id="input-contactnum" name="contactnum" type="tel" placeholder="Ex: 09123456789" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="input-password">Password</label>
            <input class="form-control" id="input-password" name="password" type="password" placeholder="Must be at least 8 characters" required>
        </div>
        <div id="error-msg" data-error-status="normal">The username/password does not exist.</div>
        <div id="last-row">
            <div id="form-switch-text">Already have an account? <a href="/login" id="form-switch-link">Login</a></div>
            <button class="btn" id="btn-submit" type="submit">Sign Up</button>
        </div>
    </form>
</div>