<link rel="stylesheet" href="css/reservationinfo.css">
<script src="/js/auth.js"></script>

<div id="reservation-container">
    <div class="info-header">
        <h1>Your Reservations</h1>
    </div>
    <div class="reservation-list-container">
        <button><span> Reservation for 2023 November 28 </span></button>
        <button><span>hello </span></button>
    </div>
</div>
