<link rel="stylesheet" href="css/reservation.css">
<script src="/js/auth.js"></script>

<div id="reservation-container" class="bg-noise-pattern">
    <div id="form-container">
        {{>reservationform}}
        {{>serviceform}}
    </div>
    {{>cart}}
</div>

