<link rel="stylesheet" href="css/reservation.css">

<div id="reservation-container" class="bg-noise-pattern">
    <div id="form-container">
        {{>reservationform}}
        {{>serviceform}}
    </div>
    {{>cart}}
</div>

