<link rel="stylesheet" href="/css/services-admin.css">
<script type="module" src="/js/services-admin.js"></script>

<div id="service-admin-wrapper" class="bg-noise-pattern">
    <div id="service-admin-header-container">
        <h2 id="service-admin-header">Services</h2>
        <button type="button" id="add-btn" data-bs-toggle="modal" data-bs-target="#add-service-collection-modal"><i class="fa fa-plus"></i>Add</button>
    </div>
    <div id="service-collection-container">
    </div>
</div>

<!-- Add Modal-->
<div class="modal fade modal-lg" id="add-service-collection-modal" tabindex="-1" aria-labelledby="add-service-collection-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Service Collection</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="form-add-service-collection">
                <div class="modal-body">
                    <div class="col mb-3">
                        <label class="form-label" for="input-service-concern">Service Concern</label>
                        <input class="form-control" id="input-service-concern" name="service-concern" type="text" placeholder="Ex: Nails, Hair, etc.">
                    </div>
                    <div class="col mb-4">
                        <label class="form-label" for="input-service-title">Service Title</label>
                        <input class="form-control" id="input-service-title" name="service-title" type="text" placeholder="Ex: Nail Care, Nail Design, etc.">
                    </div>
                    <div class="col mb-3 tabular-services-container">
                        <div class="mb-3 services-container-header">
                            <div class="form-section-header">Tabular Services</div>
                            <button class="add-service" id="add-add-service"><i class="fa fa-plus"></i>Add Service</button>
                        </div>
                        <ul class="services-list" id="add-services-list">
                            <li class="input-services">
                                <input class="form-control input-service-option-1" name="input-service-option-1" type="text" placeholder="Service Option 1">
                                <input class="form-control input-service-option-2" name="input-service-option-2" type="text" placeholder="Service Option 2">
                                <input class="form-control input-price" name="input-price" type="number" placeholder="Price">
                                <button type="button" class="delete-service"><i class="fa fa-trash-can"></i></button>
                            </li>
                        </ul>
                    </div>
                    <div class="col mb-3 standalone-services-container">
                        <div class="mb-3 standalone-services-container-header">
                            <div class="form-section-header">Standalone Services</div>
                            <button class="add-standalone-service" id="add-add-standalone-service"><i class="fa fa-plus"></i>Add Service</button>
                        </div>
                        <ul class="standalone-services-list" id="add-standalone-services-list">
                            <li class="input-standalone-services">
                                <input class="form-control input-standalone-service-option" name="input-service-option" type="text" placeholder="Service Option">
                                <input class="form-control input-standalone-price" name="input-price" type="number" placeholder="Price">
                                <button type="button" class="delete-standalone-service"><i class="fa fa-trash-can"></i></button>
                            </li>
                        </ul>
                    </div>
                    <div class="error-msg" id="add-service-collection-error-msg" data-error-status="normal"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="close-btn" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="save-btn" id="add-service-collection-btn">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Edit Modal-->
<div class="modal fade modal-lg" id="edit-service-collection-modal" tabindex="-1" aria-labelledby="edit-service-collection-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Service Collection</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="form-edit-service-collection">
                <input type="hidden" id="edit-input-service-collections-id" name="edit-service-collections_id">
                <div class="modal-body">
                    <div class="col mb-3">
                        <label class="form-label" for="edit-input-service-concern">Service Concern</label>
                        <input class="form-control" id="edit-input-service-concern" name="service-concern" type="text" placeholder="Ex: Nails, Hair, etc.">
                    </div>
                    <div class="col mb-4">
                        <label class="form-label" for="edit-input-service-title">Service Title</label>
                        <input class="form-control" id="edit-input-service-title" name="service-title" type="text" placeholder="Ex: Nail Care, Nail Design, etc.">
                    </div>
                    <div class="col mb-3 tabular-services-container">
                        <div class="mb-3 services-container-header">
                            <div class="form-section-header">Tabular Services</div>
                            <button class="add-service" id="edit-add-service"><i class="fa fa-plus"></i>Add Service</button>
                        </div>
                        <ul class="services-list" id="edit-services-list">
                        </ul>
                    </div>
                    <div class="col mb-3 standalone-services-container">
                        <div class="mb-3 standalone-services-container-header">
                            <div class="form-section-header">Standalone Services</div>
                            <button class="add-standalone-service" id="edit-add-standalone-service"><i class="fa fa-plus"></i>Add Service</button>
                        </div>
                        <ul class="standalone-services-list" id="edit-standalone-services-list">
                        </ul>
                    </div>
                    <div class="error-msg" id="edit-service-collection-error-msg" data-error-status="normal"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="close-btn" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="save-btn" id="edit-service-collection-btn">Save Edit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete Modal-->
<div class="modal fade" id="delete-service-collection-modal" tabindex="-1" aria-labelledby="delete-service-collection-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="delete-modal-content">
            <div class="modal-header delete-modal-header">
                <h5 class="modal-title">Delete Service Collection</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="modal-text">Are you sure you want to delete the <span class="service-title-info"></span> Service Collection?</div>
                <div class="error-msg" id="delete-service-collection-error-msg" data-error-status="normal"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="close-btn" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="save-btn" id="delete-service-collection-btn"><i class="fa fa-trash-can"></i>Delete</button>
            </div>
        </div>
    </div>
</div>