#admin-reservations-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.reservation-container {
    border: 2px solid var(--clr-primary-50);
    border-radius: calc(var(--radius) / 1.5);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: calc(var(--radius) / 2) calc(var(--radius) / 1.5);
}

.reservation-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reservation-user {
    font-size: 1.5em;
    font-weight: 800;
    color: var(--salon-purple);
}

.reservation-datetime {
    font-size: 1em;
    font-weight: 500;
    color: #888;
}

.reservation-status {
    border-radius: var(--radius);
    display: flex;
    align-items: center;
    padding: 0.5rem 1.5rem;
    font-weight: 700;
    font-size: 1.15em;
}

.reservation-status[data-reservation-status=pending] {
    background-color: var(--clr-triadic-2-50) !important;
    color: var(--clr-triadic-2-600) !important;
}

.reservation-status[data-reservation-status=approved] {
    background-color: var(--clr-complementary-50) !important;
    color: var(--clr-complementary-700) !important;
}

.reservation-status[data-reservation-status=cancelled] {
    background-color: var(--clr-triadic-1-50) !important;
    color: var(--clr-triadic-1-300) !important;
}

.reservation-controls {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.admin-btn-reservation-services, .admin-btn-reservation-update {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 2rem;
    background-color: #FFF;
    border: 1px solid;
    border-radius: var(--radius);
    font-weight: 700;
    font-size: 1em;
    text-decoration: none;
    transition: color 180ms ease-in-out, background-color 180ms ease-in-out, border-color 180ms ease-in-out;
}

.admin-btn-reservation-services {
    border-color: #CCC;
    color: #888;
}

.admin-btn-reservation-update {
    border-color: var(--clr-primary-200);
    color: var(--salon-purple);
}

.admin-btn-reservation-services:hover, .admin-btn-reservation-services:active {
    border-color: #888 !important;
    color: #FFF !important;
    background-color: #888 !important;
}

.admin-btn-reservation-update:hover, .admin-btn-reservation-update:active {
    border-color: var(--salon-purple) !important;
    color: #FFF !important;
    background-color: var(--salon-purple) !important;
}

.modal-reservation-details-header {
    color: var(--salon-purple);
    font-weight: 700;
    font-size: 1.5em;
}

.modal-reservation-user-container, .modal-reservation-datetime-container {
    color: #555;
}

#modal-reservation-status-controls-container {
    display: flex;
    gap: 0.5rem;
}

#modal-reservation-status-controls-container .btn {
    border: 1px solid transparent;
    border-radius: var(--radius);
    font-weight: 600;
    flex-grow: 1;
}

input[type="radio"] + .status-pending, input[type="radio"] + .status-pending:hover {
    color: var(--clr-triadic-2-600);
    border-color: var(--clr-triadic-2-600) !important;
}

input[type="radio"] + .status-approved, input[type="radio"] + .status-approved:hover {
    color: var(--clr-complementary-700);
    border-color: var(--clr-complementary-700) !important;
}

input[type="radio"] + .status-cancelled, input[type="radio"] + .status-cancelled:hover {
    color: var(--clr-triadic-1-300);
    border-color: var(--clr-triadic-1-300) !important;
}

input[type="radio"]:checked + .status-pending {
    color: #FFF;
    background-color: var(--clr-triadic-2-600);
}

input[type="radio"]:checked + .status-approved {
    color: #FFF;
    background-color: var(--clr-complementary-700);
}

input[type="radio"]:checked + .status-cancelled {
    color: #FFF;
    background-color: var(--clr-triadic-1-300);
}

.btn.disabled {
    pointer-events: auto !important;
    cursor: not-allowed;
}

.modal .btn-discard {
    color: #888;
    border-color: #CCC;
}

.modal .btn-discard:hover, .modal .btn-discard:active {
    color: #FFF !important;
    background-color: #888 !important;
    border-color: #888;
}

#modal-reservation-services-container {
    margin-top: 1rem;
}

@media (max-width: 1200px) {
    #admin-reservations-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 992px) {
    .admin-container {
        padding: 0;
    }

    #admin-reservations-container {
        gap: 0;
    }

    .reservation-container {
        border: none;
        border-radius: 0;
        border-bottom: 2px solid var(--clr-primary-50);
        padding: calc(var(--radius) / 2);
    }

    .reservation-user {
        font-size: 1.35em;
    }

    .reservation-datetime {
        font-size: 0.85em;
    }

    .reservation-status {
        font-size: 1em;
    }

    .admin-btn-reservation-services, .admin-btn-reservation-update {
        flex-grow: 1;
        font-size: 0.85em;
        padding: 0.5rem 1.5rem;
    }

    #modal-reservation-status-controls-container .btn {
        font-size: 0.85em;
    }
}