input.form-control, .form-select {
    border-radius: var(--radius);
    color: var(--space-black);
}

input.form-control {
    padding: calc(var(--radius) / 4) calc(var(--radius) / 2);
}

.form-select {
    padding: calc(var(--radius) / 4) calc(var(--radius) / 2);
    padding-right: calc(var(--radius) / 1);
}

textarea.form-control {
    border-radius: calc(var(--radius) / 2);
    padding: calc(var(--radius) / 4) calc(var(--radius) / 2.5);
}

.form-control-lg, .form-select-lg {
    padding: calc(var(--radius) / 4) calc(var(--radius) / 1.5);
}

.form-control:focus, .form-select:focus {
    border-color: var(--clr-primary-100);
    box-shadow: 0 0 0 0.25rem var(--clr-primary-50);
}

.form-label {
    font-weight: 600;
    transition: color 180ms ease-in-out;
    margin-left: calc(var(--radius) / 4);
}

.form-label:has(+ .form-control:focus), .form-label:has(+ .form-select:focus) {
    color: var(--clr-primary);
}

@media (max-width: 1200px) {
    textarea.form-control::placeholder {
        font-size: 1em;
    }
}