#cart-container {
    background-color: #FFF;
    box-shadow: 2px 1px 16px rgba(0, 0, 0, 0.15);
    width: 100%;
    border-radius: var(--radius);
    flex: 5 0 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#reservation-details {
    color: var(--space-black);
    padding: calc(var(--radius) / 2) var(--radius);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFF;
    box-shadow: 2px 1px 16px rgba(0, 0, 0, 0.15);
    z-index: 1;
}

#reservation-details > div {
    font-size: 1.125em;
}

#cart-header {
    color: var(--clr-primary-700);
    font-size: 3.0em;
    font-weight: 900;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: left;
}

#reservation-for {
    font-weight: 800;
}

#date-detail, #time-detail {
    margin-left: 2em;
    font-weight: 700;
}

#services-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 3rem;
    flex-grow: 1;
    overflow-y: scroll;
    background-color: #FAFAFA;
}

.cart-item{
    background-color: #FFF;
    display: flex;
    padding: calc(var(--radius) / 2) calc(var(--radius) / 1.5);
    gap: 2em;
    align-items: center;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.15);
    border-radius: calc(var(--radius) / 1.5);
    transition: box-shadow 0.3s ease-in-out;
}

.cart-item:hover{
    box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.3);
}

.quantity-container{
    font-size: 20px;
    font-weight: 500;
}

.quantity, .cart-staff-name{
    margin-left: .5em;
    font-weight: 700;
}

.cart-service-details{
    flex: 8 0 0;
}

.cart-service-name{
    font-weight: 900;
    font-size: 20px;
    transition: color 0.3s ease-in-out;
}

.cart-item:hover .cart-service-name {
    color: var(--clr-primary-500);
}

.cart-other-details{
    color: gray;
    font-size: 14px;
}

.edit{
    background-color: var(--salon-purple);
    font-size: 40px;
    font-weight: 600;
    color: #FFF;
    height: 1em;
    width: 1em;
    padding: 0px;
    line-height: 1em;
}

.edit:hover {
    background-color: var(--clr-primary-200);
    color: #FFF;
}

.edit-btn-container {
    display: flex;
    gap: 1rem;
}

#reservation-footer {
    background-color: var(--space-black);
    color: #FFF;
    padding: calc(var(--radius) / 2) var(--radius);
    display: flex;
    align-items: center;
    gap: 1rem;
}

#estimated-price {
    font-weight: 600;
}

#total-price-label, #total-price-value {
    font-size: 40px;
    font-weight: 900;
}

#price-container {
    flex-grow: 8;
}

#btn-reserve {
    flex-grow: 1;
    background-color: var(--salon-purple);
    border-radius: var(--radius);
    color: white;
    font-weight: 600;
    padding: 0.5rem calc(var(--radius) / 1);
    transition: background-color 180ms ease-in-out;
    font-size: 25px;
}

#btn-reserve:hover {
    background-color: var(--clr-primary-200);
}

#btn-reset {
    background-image:url("../assets/images/trash-logo-medium.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    background-size: 40px 40px;
    border-radius: var(--radius);
    color: white;
    font-weight: 600;
    padding: 2em;
    transition: background-image 180ms ease-in-out, background-size 180ms ease-in-out;
}

#btn-reset:hover {
    background-image:url("../assets/images/trash-logo-medium-hover.png");
    background-size: 50px 50px;
}

#btn-reset:active {
    border: none;
}