#cart-container {
    background-color: #FFF;
    box-shadow: 2px 1px 16px rgba(0, 0, 0, 0.15);
    width: 100%;
    border-radius: var(--radius);
    flex: 5 0 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#reservation-details {
    color: var(--space-black);
    padding: calc(var(--radius) / 2) var(--radius);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFF;
    box-shadow: 2px 1px 16px rgba(0, 0, 0, 0.15);
    z-index: 1;
}

#reservation-details > div {
    font-size: 1.125em;
}

#cart-header {
    color: var(--clr-primary-700);
    font-size: 3.0em;
    font-weight: 900;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: left;
}

#reservation-for {
    font-weight: 800;
    margin-bottom: 0.25em;
}

#reservation-datetime {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: stretch;
    grid-column-gap: 2rem;
}

#date-detail, #time-detail {
    text-align: right;
    font-weight: 700;
}

#services-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 3rem;
    flex-grow: 1;
    overflow-y: auto;
    background-color: #FAFAFA;
}

.cart-item{
    background-color: #FFF;
    display: flex;
    padding: calc(var(--radius) / 2) calc(var(--radius) / 1.5);
    gap: 2em;
    align-items: center;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.15);
    border-radius: calc(var(--radius) / 1.5);
    transition: box-shadow 0.3s ease-in-out;
}

.cart-item:hover{
    box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.3);
}

.quantity-container{
    font-size: 20px;
    font-weight: 500;
}

.quantity, .cart-staff-name{
    margin-left: .5em;
    font-weight: 700;
}

.cart-service-details{
    flex: 8 0 0;
}

.cart-service-name{
    font-weight: 900;
    font-size: 1.5em;
    color: var(--clr-primary-900);
    transition: color 0.3s ease-in-out;
}

.cart-item:hover .cart-service-name {
    color: var(--clr-primary-500);
}

.cart-other-details{
    color: gray;
    font-size: 14px;
}

.edit{
    background-color: var(--salon-purple);
    font-size: 40px;
    font-weight: 600;
    color: #FFF;
    height: 1em;
    width: 1em;
    padding: 0;
    line-height: 1em;
    border-radius: var(--radius);
}

.edit:hover {
    background-color: var(--clr-primary-200);
    color: #FFF;
}

.edit-btn-container {
    display: flex;
    gap: 1rem;
}

#reservation-footer {
    background-color: var(--space-black);
    color: #FFF;
    padding: calc(var(--radius) / 2) var(--radius);
    display: flex;
    align-items: center;
    gap: 1rem;
}

#estimated-price {
    font-weight: 600;
}

#total-price-label, #total-price-value {
    font-size: 40px;
    font-weight: 900;
}

#price-container {
    flex-grow: 8;
}

#cart-controls-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

#btn-reserve {
    flex-grow: 1;
    background-color: var(--salon-purple);
    border-radius: var(--radius);
    color: white;
    font-weight: 600;
    padding: 0.5rem var(--radius);
    transition: background-color 180ms ease-in-out;
    font-size: 1.5em;
}

#btn-reserve:hover {
    background-color: var(--clr-primary-200);
}

#btn-reset {
    background-image:url("../assets/images/trash-logo-medium.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    background-size: 40px 40px;
    border-radius: var(--radius);
    color: white;
    font-weight: 600;
    padding: 2rem;
    transition: background-image 180ms ease-in-out, background-size 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

#btn-reset:hover {
    background-image:url("../assets/images/trash-logo-medium-hover.png");
    background-size: 50px 50px;
}

#btn-reset:active {
    border: none;
}

@media (max-width: 1200px) {
    #cart-container {
        flex: initial;
    }

    #reservation-details {
        flex-direction: column;
    }

    #cart-header {
        font-size: 2.5em;
        text-align: center;
    }

    #cart-header > .fa {
        margin-right: 0;
        margin-bottom: 0.5em;
        display: block;
    }

    #schedule-detail {
        width: 100%;
    }

    #reservation-for {
        text-align: center;
    }

    #services-container {
        padding: 1rem 0;
        gap: 1rem;
    }

    .cart-item {
        padding: calc(var(--radius) / 2);
        flex-wrap: wrap;
        border-radius: 0;
    }

    .edit-btn-container {
        width: 100%;
    }

    .edit {
        width: 100%;
        background-color: transparent;
        color: var(--salon-purple);
        border: 1px solid var(--salon-purple);
    }

    #reservation-footer {
        flex-direction: column;
        align-items: normal;
    }

    #price-container {
        text-align: center;
    }

    #btn-reserve {
        font-size: 1.125em;
    }

    #btn-reset {
        width: 30px;
        height: 30px;
        background-size: 35px;
        padding: 1.5rem;
    }

    #btn-reset:hover {
        background-size: 40px;
    }
}