#faq-wrapper {
    background-color: var(--clr-analogous-2-50);
}

#faq-header-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#faq-container {
    background-color: #FFF;
    padding: 1.5rem;
    box-shadow: 2px 1px 16px rgba(0, 0, 0, 0.15);
}

#faq-header {
    color: var(--clr-primary-700);
    font-size: 2.5em;
    font-weight: 900;
    text-align: center;
}

.accordion-item:has(.accordion-button:not(.collapsed)) {
    margin-bottom: 1rem;
    box-shadow: 2px 1px 16px rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: calc(var(--radius) / 4);
    margin-top: 1rem;
    transition: margin-bottom 0.5s cubic-bezier(0.25, 0.75, 0, 1), margin-top 0.5s cubic-bezier(0.25, 0.75, 0, 1), box-shadow 1s cubic-bezier(0.25, 0.75, 0, 1), border-radius 180ms ease-in-out !important;
}

.accordion-item {
    transition: margin-bottom 0.375s cubic-bezier(0.25, 0.75, 0, 1), margin-top 0.375s cubic-bezier(0.25, 0.75, 0, 1), box-shadow 0.5s cubic-bezier(0.25, 0.75, 0, 1), border-radius 180ms ease-in-out !important;
}

.accordion-item:has(.accordion-button:not(.collapsed)) + .accordion-item {
    border-top: 1px solid var(--bs-accordion-border-color);
}

@media (max-width: 992px) {
    #faq-wrapper {
        flex-direction: column;
    }

    #faq-wrapper.row > * {
        width: 100%;
    }

    #faq-header {
        font-size: 2em;
        margin: 3rem;
    }
}