#footer {
    background-color: var(--space-black);
    color: #FFF;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    padding: 2rem;
}

#walk-in-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#walk-in-address {
    font-weight: 700;
    font-size: 1.5em;
    text-align: center;
}

#contact-info {
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

#facebook-info {
    display: flex;
    flex-direction: row;
    border-right: 2px solid gray;
    gap: 0.5rem;
    align-items: center;
    justify-content: right;
    flex: 5 5 0;
    padding: 1.25rem;
}

#visit-text {
    width: 90px;
    font-weight: 600;
}

#fb-logo {
    height: 4rem;
    width: 4rem;
}

#telephone-icon {
    height: 15px;
    width: 15px;
    margin-right: 10px;
}

#telephone-info {
    flex: 5 5 0;
    justify-content: left;
    align-items: center;
}

#telephone-num {
    font-weight: 600;
}

#telephone-num > .fa-phone {
    color: var(--salon-purple);
}

#telephone-num > a {
    color: #FFF;
}

#copyright {
    font-weight: 200;
    font-size: 0.95em;
    text-align: center;
}

@media (max-width: 992px) {
    #fb-logo {
        width: 2rem;
        height: 2rem;
    }
}