@import url("bs-form-override.css");

button[disabled] {
    cursor: not-allowed;
    pointer-events: auto !important;
}

#form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-analogous-2-50);
    background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/light_toast.png");
    background-blend-mode: lighten;
}

.form-container {
    background-color: #FFF;
    box-shadow: 2px 1px 16px rgba(0, 0, 0, 0.15);
    padding: 3rem 5rem;
    border-radius: var(--radius);
}

#form-header {
    color: var(--clr-primary-700);
    font-size: 2.5em;
    font-weight: 900;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

#btn-submit {
    background-color: var(--salon-purple);
    border-radius: var(--radius);
    color: white;
    font-weight: 600;
    padding: 0.5rem calc(var(--radius) / 1);
    transition: background-color 180ms ease-in-out;
}

#btn-submit:hover {
    background-color: var(--clr-primary-200);
}

#btn-submit:active, #btn-submit:focus {
    background-color: var(--clr-primary-600);
}

::placeholder {
    font-size: 1em;
    color: rgba(0, 0, 0, 0.5) !important;
}

#input-password::placeholder {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0;
}

#form-switch-text {
    font-size: 1.125em;
}

#form-switch-link {
    color: var(--clr-primary-700);
    cursor: pointer;
    font-size: 1.125em;
    text-decoration: none;
    font-weight: 500;
}

#form-switch-link:hover {
    text-decoration: underline;
}

#last-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

.error-msg {
    padding: 0;
    font-size: 0;
}

.error-msg:not([data-error-status="normal"]) {
    color: #FFF;
    text-align: center;
    padding: 0.5rem calc(var(--radius) / 2);
    border-radius: var(--radius);
    margin-bottom: 1rem;
    font-size: 1em;
    transition: padding 180ms cubic-bezier(0.4, 0, 0.2, 1), font-size 0.375s cubic-bezier(0.4, 0, 0.2, 1) 0.1s;
    flex: 0;
    flex-wrap: wrap;
}

.error-msg[data-error-status="error"] {
    background-color: var(--clr-triadic-1);

}

.error-msg[data-error-status="success"] {
    background-color: var(--clr-complementary-700);
}