#dashboard-wrapper {
    background-color: var(--clr-primary-50);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    overflow: auto;
}

#dashboard-header {
    font-size: 4em;
    font-weight: 800;
    color: var(--clr-primary);
    text-align: center;
    margin-bottom: 3rem;
}

#tools-container {
    background-color: #FFF;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1.5rem;
    gap: 1rem;
    border-radius: var(--radius);
    box-shadow: 2px 1px 16px rgba(0, 0, 0, 0.15);
    width: 80%;
}

.tool-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 2rem;
    background-color: #FFF;
    border-radius: var(--radius);
    border: 2px solid var(--clr-primary-50);
    font-weight: 700;
    font-size: 1.5em;
    flex-wrap: wrap;
    color: var(--clr-primary-200);
    text-decoration: none;
    transition: color 180ms ease-in-out, background-color 180ms ease-in-out, border-color 180ms ease-in-out;
}

.tool-btn:hover {
    background-color: var(--clr-primary-50);
    color: var(--salon-purple);
    border-color: var(--clr-primary-50);
}

.tool-btn:active {
    border-color: var(--clr-primary-200);
}

.tool-btn > .fa {
    font-size: 2em;
    margin-right: 0;
}

@media (max-width: 992px) {
    body {
        background-color: #FFF;
    }

    #dashboard-wrapper {
        height: unset;
        padding: 0 0 5rem;
        background-color: #FFF;
        display: block;
    }

    #dashboard-header-container {
        background-color: #FFF;
    }

    #dashboard-header {
        background-color: var(--clr-primary-50);
        font-size: 2em;
        margin: 1rem;
        padding: 3rem 1.5rem;
        border-radius: var(--radius);
    }

    #tools-container {
        display: flex;
        flex-direction: column;
        box-shadow: unset;
        width: 100%;
        padding: 0;
        gap: 0;
    }

    .tool-btn {
        flex-direction: row;
        justify-content: flex-start;
        border-radius: 0;
        border: none;
        border-top: 1px solid var(--clr-primary-50);
        border-bottom: 1px solid var(--clr-primary-50);
    }

    #tools-container > .tool-btn:first-child {
        border-top: 2px solid var(--clr-primary-50);
    }

    #tools-container > .tool-btn:last-child {
        border-bottom: 2px solid var(--clr-primary-50);
    }

    .tool-btn > .fa {
        font-size: 1em;
        width: 5rem;
        text-align: center;
        border: 1px solid var(--clr-primary-50);
        border-radius: var(--radius);
        padding: 1rem;
    }
}