@import url("form.css");

#form-wrapper {
    min-height: 100vh;
    background-color: var(--salon-purple);
}

.form-container {
    width: 40%;
}

#salon-title-login{
    font-family: "Dr Sugiyama", cursive;
    color: var(--salon-purple);
    font-size: 2em;
    text-align: center;
    line-height: 1em;
}

@media (max-width: 992px) {
    .form-container {
        width: 90%;
    }
}