/* Normalize.css */
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --space-black: #131218;
    --salon-purple: #D15FFE;
    --navbar-height: 85px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
}

.wrap{
    word-wrap: break-word;
}

.underlined{
    text-decoration: underline;
}