/* Normalize.css */
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Color Theme */
@import url('colors.css');

:root {
    --space-black: #131218;
    --salon-purple: var(--clr-primary);
    --navbar-height: 85px;
    --radius: 50px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
}

.wrap{
    word-wrap: break-word;
}

.underlined{
    text-decoration: underline;
}

input[type='password']{
    font-family: Verdana;
    letter-spacing: 0.125em;
}

@keyframes shake {
    0% { transform: translateX(1px); }
    10% { transform: translateX(-1px); }
    20% { transform: translateX(-3px); }
    30% { transform: translateX(3px); }
    40% { transform: translateX(1px); }
    50% { transform: translateX(-1px); }
    60% { transform: translateX(-3px); }
    70% { transform: translateX(3px); }
    80% { transform: translateX(-1px); }
    90% { transform: translateX(1px); }
    100% { transform: translateX(1px); }
}