body {
    background-color: var(--clr-primary-50);
}

.admin-wrapper {
    background-color: var(--clr-primary-50);
    min-height: 100vh;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
}

.admin-header-container {
    margin: 5rem 5rem 3rem;
}

.admin-header {
    font-size: 3em;
    font-weight: 800;
    color: var(--salon-purple);
    margin: 0;
}

.admin-header-container:has(> .admin-header-btn) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.admin-header-btn {

}

.admin-container {
    background-color: #FFF;
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 2rem;
    flex-grow: 1;
    border-radius: var(--radius);
    box-shadow: 2px 1px 16px rgba(0, 0, 0, 0.15);
}

.admin-container.container-bottom {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.admin-container:not(.container-bottom) {
    margin-bottom: 3rem;
}

.admin-responsive-controls-container {
    display: none;
}

.admin-list-btn-edit, .admin-list-btn-delete {
    border: 1px solid;
    border-radius: var(--radius);
    padding: 0.5rem 2rem;
    font-weight: 700;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.admin-list-btn-edit {
    color: #888;
    border-color: #CCC;
}

.admin-list-btn-delete {
    color: var(--clr-triadic-1-300);
    border-color: var(--clr-triadic-1-100);
}

.admin-list-btn-edit:hover, .admin-list-btn-edit:active {
    color: #FFF !important;
    background-color: #888 !important;
    border-color: #888 !important;
}

.admin-list-btn-delete:hover, .admin-list-btn-delete:active {
    color: #FFF !important;
    background-color: var(--clr-triadic-1-300) !important;
    border-color: var(--clr-triadic-1-300) !important;
}

@media (max-width: 992px) {
    #main-wrapper > .row > * {
        width: 100%;
    }

    .admin-wrapper {
        padding-left: 0;
        padding-right: 0;
        background-color: #FFF;
    }

    .admin-header-wrapper {
        border-bottom: 2px solid var(--clr-primary-50);
    }

    .admin-header-container {
        margin: 1rem;
        padding: 3rem 1.5rem;
        background-color: var(--clr-primary-50);
        border-radius: var(--radius);
    }

    .admin-header {
        font-size: 2em;
        text-align: center;
    }

    .admin-header-container:has(.admin-header-btn) {
        display: block;
    }
    
    .admin-header-container > .admin-header-btn {
        display: none;
    }

    .admin-container {
        margin-left: 0;
        margin-right: 0;
        border-radius: 0;
        box-shadow: none;
    }

    .admin-responsive-controls-container {
        display: flex;
        justify-content: center;
        padding: 1rem;
        background-color: #FAFAFA;
        border-bottom: 1px solid #E6E6E6;
        position: sticky;
        top: 0;
    }

    .admin-responsive-controls-container > .admin-header-btn {
        font-size: 1em !important;
    }

    .admin-wrapper {
        padding-bottom: 5rem;
    }

    .admin-list-btn-edit, .admin-list-btn-delete {
        padding: 0.5rem 1.25rem;
        font-size: 0.85em;
    }
}