.modal-content {
    border: 2px solid var(--clr-primary-100);
    border-radius: calc(var(--radius) / 2);
    overflow: hidden;
}

#delete-modal-content {
    border: 2px solid var(--clr-triadic-1-300);
    border-radius: calc(var(--radius) / 2);
    overflow: hidden;
}

.modal-header{
    background-color: var(--clr-primary-50);
    color: var(--salon-purple);
    padding: 1.5em;
}

.delete-modal-header{
    background-color: var(--clr-triadic-1-300);
    color: #FFF;
    padding: 1.5em;
}

.modal-title{
    font-weight: 700;
    font-size: 1.5em;
}

.modal-body{
    padding: 1.5em;
}

.modal-footer {
    background-color: #FAFAFA;
}

.modal-footer > button {
    font-weight: 700;
    border-radius: var(--radius);
    padding: 0.5rem 1.5rem;
}

.btn-discard {
    border: 1px solid var(--clr-triadic-1-300);
    color: var(--clr-triadic-1-300);
}

.btn-modal-success {
    background-color: var(--salon-purple);
    color: #FFF;
}

.btn-discard:hover {
    background-color: var(--clr-triadic-1-300);
    color: #FFF;
}

.btn-modal-success:hover, .btn-modal-success:disabled {
    background-color: var(--clr-primary-200) !important;
    color: #FFF !important;
}

.btn-discard:active {
    background-color: var(--clr-triadic-1-500) !important;
    color: #FFF !important;
}

.btn-modal-success:active {
    background-color: var(--clr-primary-500) !important;
    color: #FFF !important;
}

.btn-neutral {
    border: 1px solid #AAA;
    color: #888;
}

.btn-neutral:hover {
    background-color: #AAA;
    color: #FFF;
}

.btn-neutral:active {
    background-color: #888 !important;
    color: #FFF !important;
}

.btn-delete {
    background-color: var(--clr-triadic-1-300);
    color: #FFF;
}

.btn-delete:hover, .btn-delete:disabled {
    background-color: var(--clr-triadic-1-200) !important;
    color: #FFF !important;
}

.btn-delete:active {
    background-color: var(--clr-triadic-1-500) !important;
    color: #FFF !important;
}

.save-btn{
    background-color: #FFF;
    color: var(--salon-purple);
    border-radius: var(--radius);
    border: 2px solid var(--salon-purple);
    padding: .5em 2em;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    transition: color 180ms ease-in-out, background-color 180ms ease-in-out, border-color 180ms ease-in-out;
}

.save-btn:hover{
    color:#FFF;
    background-color: var(--salon-purple);
    border-color: #FFF;
}

.save-btn:active{
    border-color: var(--clr-primary-700);
}

.close-btn{
    color: gray;
    background-color: #FFF;
    border: 2px solid gray;
    border-radius: var(--radius);
    padding: .5em 2em;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    transition: color 180ms ease-in-out, background-color 180ms ease-in-out, border-color 180ms ease-in-out;
}

.close-btn:hover{
    color: #FFF;
    background-color: gray;
    border-color: #FFF;
}

.close-btn:active{
    border-color: gray;
}

.services-list, .standalone-services-list{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.input-service-option-1, .input-service-option-2, .input-price{
    width: 30%;
}

.input-standalone-service-option, .input-standalone-price{
    width: 50%;
}

.input-services, .input-standalone-services{
    display: flex;
    gap: .5em;
    flex-wrap: nowrap;
    border-bottom: 2px solid lightgray;
    padding-bottom: 1em;
}

.delete-service, .delete-standalone-service {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0em .6em;
    background-color: #FFF;
    border-radius:var(--radius);
    border: 2px solid var(--clr-triadic-1-300);
    font-weight: 500;
    font-size: 1.5em;
    color: var(--clr-triadic-1-300);
    text-decoration: none;
    transition: color 180ms ease-in-out, background-color 180ms ease-in-out, border-color 180ms ease-in-out;
}

.delete-service > .fa, .delete-standalone-service > .fa{
    margin-right: 0;
}

.delete-service:hover, .delete-standalone-service:hover{
    background-color: var(--clr-triadic-1-300);
    color: #FFF;
}

.delete-service:active, .delete-standalone-service:hover{
    border-color: var(--clr-triadic-1-500);
}

.add-service, .add-standalone-service{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em 1.5em;
    border: 2px solid var(--salon-purple);
    border-radius: var(--radius);
    margin-left: auto;
    background-color: #FFF;
    color: var(--salon-purple);
    font-weight: 700;
}

.add-service:hover, .add-standalone-service:hover{
    background-color: var(--salon-purple);
    color: #FFF;
}

.add-service:active, .add-standalone-service:active{
    border-color: var(--clr-primary-700);
}

.services-container-header, .standalone-services-container-header{
    display: flex;
    flex-direction: row;
    gap: .5em;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid lightgray;
    padding-bottom: 1em;
}

.tabular-services-container, .standalone-services-container{
    display: flex;
    flex-direction: column;
}

.services-label {
    margin-bottom: 0px;
}

ul {
    padding-left: 0;
}

.service-title-info {
    color: var(--salon-purple);
    font-weight: 900;
    font-size: 1.2em;
}

#delete-service-collection-btn {
    color: var(--clr-triadic-1-300);
    background-color: #FFF;
    border: 2px solid var(--clr-triadic-1-300);
}

#delete-service-collection-btn:hover{
    color: #FFF;
    background-color: var(--clr-triadic-1-300);
    border-color: #FFF;
}

#delete-service-collection-btn:active{
    border-color: var(--clr-triadic-1-300);
}

.form-section-header{
    margin-left: .8em;
    font-weight: 600;
}