@import url("form.css");

#form-wrapper {
    min-height: 120vh;
}

.form-container {
    width: 50%;
}

::placeholder {
    font-style: italic;
}

#input-password::placeholder {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0;
}