#reservation-container {
    display: flex;
    flex-direction: row;
    background-color: var(--clr-analogous-2-50);
    padding: 2em;
    gap: 2em;
}

#form-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2em;
    gap: 4em;
}

#form-reservation {
    background-color: #FFF;
    box-shadow: 2px 1px 16px rgba(0, 0, 0, 0.15);
    padding: 3rem 5rem;
    border-radius: var(--radius);
    width: 100%;
}

#reservation-header {
    color: var(--clr-primary-700);
    font-size: 2.5em;
    font-weight: 900;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: left;
}

.input-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-label{
    margin-left: 10px;
    font-weight: 500;
    font-size: 18px;
}

#input-details{
    min-height: 100px;
    overflow: auto;
}

.form-control {
    border-radius: var(--radius);
    color: var(--space-black);
    padding: calc(var(--radius) / 4) calc(var(--radius) / 1.5);
}

.form-control:focus {
    border-color: var(--clr-primary-100);
    box-shadow: 0 0 0 0.25rem var(--clr-primary-50);
}

#btn-submit {
    background-color: var(--salon-purple);
    border-radius: var(--radius);
    color: white;
    font-weight: 600;
    padding: 0.5rem calc(var(--radius) / 1);
    transition: background-color 180ms ease-in-out;
}

#btn-submit:hover {
    background-color: var(--clr-primary-200);
}

#btn-submit:active, #btn-submit:focus {
    background-color: var(--clr-primary-600);
}

::placeholder{
    font-style: italic;
    font-size: 18px;
}

#input-password::placeholder {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0;
}

#register-link {
    color: var(--clr-primary-900);
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
}

#register-link:hover {
    text-decoration: underline;
}

#last-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

#error-msg {
    padding: 0;
    font-size: 0;
}

#error-msg[data-error-status="error"] {
    background-color: var(--clr-triadic-1);
    color: #FFF;
    text-align: center;
    padding: 0.5rem calc(var(--radius) / 2);
    border-radius: var(--radius);
    margin-bottom: 1rem;
    font-size: 1em;
    transition: padding 180ms cubic-bezier(0.4, 0, 0.2, 1), font-size 0.375s cubic-bezier(0.4, 0, 0.2, 1) 0.1s;
}

#register-text{
    font-size: 18px;
}