@import url("bs-form-override.css");

#reservation-container {
    display: flex;
    flex-direction: row;
    background-color: var(--clr-analogous-2-50);
    padding: 5rem;
    gap: 2rem;
}

#form-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form-reservation {
    background-color: #FFF;
    box-shadow: 2px 1px 16px rgba(0, 0, 0, 0.15);
    padding: var(--radius);
    border-radius: var(--radius);
    width: 100%;
}

.reservation-header {
    color: var(--clr-primary-700);
    font-size: 2.5em;
    font-weight: 900;
    margin-bottom: 2rem;
    text-align: left;
}

.input-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-label{
    margin-left: 10px;
    font-weight: 500;
    font-size: 18px;
}

#input-details{
    min-height: 100px;
    overflow: auto;
}

#btn-submit {
    background-color: var(--salon-purple);
    border-radius: var(--radius);
    color: white;
    font-weight: 600;
    padding: 0.5rem calc(var(--radius) / 1);
    transition: background-color 180ms ease-in-out;
}

#btn-submit:hover {
    background-color: var(--clr-primary-200);
}

#btn-submit:active, #btn-submit:focus {
    background-color: var(--clr-primary-600);
}

::placeholder{
    font-style: italic;
    font-size: 18px;
}

#input-password::placeholder {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0;
}

#register-link {
    color: var(--clr-primary-900);
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
}

#register-link:hover {
    text-decoration: underline;
}

#register-text{
    font-size: 18px;
}

@media (max-width: 1200px) {
    #reservation-container {
        padding: 2.5rem;
    }

    .reservation-header {
        font-size: 2em;
    }
}

@media (max-width: 992px) {
    #reservation-container {
        flex-direction: column;
        padding: 1rem;
        gap: 1.5rem;
    }

    #form-container {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        gap: 1.5rem;
    }

    .form-reservation {
        padding: var(--radius) calc(var(--radius) / 2);
    }

    .reservation-header {
        text-align: center;
    }

    .reservation-header > .fa {
        margin-right: 0;
        margin-bottom: 0.5em;
        display: block;
    }

    .form-reservation .row {
        flex-direction: column;
    }
}