@import url("bs-form-override.css");

#reservation-container {
    background-color: var(--clr-analogous-2-50);
    padding: 5rem;
    gap: 2rem;
}

.info-header{
    width: 100%;
    text-align: center;
    padding: 20px;
}

.info-header h1{
    color: var(--clr-primary-700);
    font-size: 3.0em;
    font-weight: 900;
    margin-top: 0;
    text-align: center;
}

#reservation-list-container {
    padding: 40px 30px;
    background-color: #FFF;
    box-shadow: 2px 1px 16px rgba(0, 0, 0, 0.15);
    width: 60%;
    border-radius: var(--radius);
    overflow: hidden;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 1em
}

.reservation-details-container{
    display: flex;
    flex-direction: column;
    border: 2px solid var(--clr-primary-200);
    border-radius: var(--radius);
    padding: 1em 2em;
    gap: 1em;
}

.timestamp{
    font-size: 1.5em;
    color: var(--salon-purple);
    font-weight: 700;
}

.reservation-details{
    display: flex;
    flex-direction: column;
    padding: 1em 2em;
    border:2px solid lightgray;
    border-radius: var(--radius);
}

.service-title{
    font-size: 1em;
    font-weight: 700;
    color: --clr-primary-500
}

.services-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.status{
    text-align: right;
    margin-right: 2em;
    color: var(--clr-primary-900);
}

.cancel-reservation-btn{
    display: flex;
    font-weight: 600;
    align-items: center;
    justify-items: center;
    border-radius: var(--radius);
    margin-left: auto;
    padding: 1em;
    border: 1px solid var(--clr-triadic-1-300);
    background-color: #FFF;
    color: var(--clr-triadic-1-300);
}

.cancel-reservation-btn:hover{
    background-color: var(--clr-triadic-1-300);
    color: #FFF;
}

#modal-cancel-reservation-details-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.reservation-date-container{
    display: flex;
    gap: 1em;
    align-items: center;
}

label{
    font-weight: 700;
    white-space: nowrap;
}

.desc{
    font-weight: 600;
    display: flex;
}

.detail{
    font-weight: 500;
    margin-left: auto;
}

.confirm-services-container{
    display: flex;
    flex-direction: column;
    border-top: 1px solid lightgray;
    padding-top: 1em;
}

#cancel-services-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
}