@import url("modal.css");
@import url("form.css");

#service-admin-wrapper {
    background-color: var(--clr-primary-50);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    overflow: auto;
}

#service-admin-header-container{
    width: 100%;
    padding: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#service-admin-header {
    font-size: 3em;
    font-weight: 800;
    color: var(--clr-primary);
    text-align: left;
}

#service-collection-container {
    background-color: #FFF;
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(2, 1fr);
    padding: 1.5rem;
    gap: 1rem;
    border-radius: var(--radius);
    box-shadow: 2px 1px 16px rgba(0, 0, 0, 0.15);
    width: 100%;
}

#add-btn{
    gap: 1.5rem;
    padding: .5em 1.5em;
    background-color: var(--salon-purple);
    border-radius: var(--radius);
    border: 0px;
    font-weight: 800;
    font-size: 1.3em;
    color: #FFF;
    text-decoration: none;
    box-shadow: 2px 1px 16px rgba(0, 0, 0, 0.15);
    transition: color 180ms ease-in-out, background-color 180ms ease-in-out, border-color 180ms ease-in-out;
}

#add-btn:hover {
    background-color: #FFF;
    color: var(--salon-purple);
    border-color: var(--clr-primary-50);
}

.service-collection-preview-container{
    width: 100%;
    background-color: #FFF;
    border-radius: calc(var(--radius) / 1.5);
    border: 2px solid var(--clr-primary-50);
    display: flex;
    flex-direction: column;
    justify-content: right;
    padding: calc(var(--radius) / 1.5);
    transition: box-shadow 180ms ease-in-out;
}

.service-collection-preview-container:hover {
    box-shadow: 2px 1px 16px rgba(0, 0, 0, 0.1);
}

.service-collection-info-container{
    margin-bottom: 2em;
}

.service-collection-controls-container{
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    justify-content: flex-end;
}

.service-title{
    font-size: 2.5em;
    font-weight: 800;
    color: var(--salon-purple);
    margin-bottom: .5em;
}

.service-option-tags-container{
    display: grid;
    flex-direction: column;
    gap: .5em;
    overflow-x: hidden;
    flex-wrap: nowrap;
}

.option1-tags-container, .option2-tags-container{
    display: flex;
    gap: .5em;
    overflow: hidden;
    flex-wrap: nowrap;
    position: relative;
}

.option1-tag, .option2-tag{
    border-radius: var(--radius);
    background-color: #FFF;
    padding: .2em 1em;
    font-weight: 500;
    font-size: 0.85em;
    white-space: nowrap;
    
}

.option1-tag {
    border: 1px solid var(--clr-analogous-1-100);
    color: var(--clr-analogous-1-300);
}

.option2-tag{
    border: 1px solid var(--clr-analogous-2-100);
    color: var(--clr-analogous-2-300);
}

.option1-tags-container::after, .option2-tags-container::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    width: 5rem;
    height: 100%;
    background-image: linear-gradient(90deg, transparent, #FFF);
}

.edit-btn, .delete-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 2rem;
    background-color: #FFF;
    border: 1px solid var(--clr-primary-200);
    border-radius: var(--radius);
    font-weight: 700;
    font-size: 1em;
    color: var(--clr-primary-200);
    text-decoration: none;
    transition: color 180ms ease-in-out, background-color 180ms ease-in-out, border-color 180ms ease-in-out;
}

.delete-btn{
    border-color: var(--clr-triadic-1-300);
    color: var(--clr-triadic-1-300);
}

.edit-btn:hover {
    background-color: var(--clr-primary-300);
    color: #FFF;
    border-color: var(--clr-primary-300);
}

.edit-btn:active {
    border-color: var(--clr-primary-200);
}

.delete-btn:hover {
    background-color: var(--clr-triadic-1-300);
    color: #FFF;
    border-color: var(--clr-triadic-1-300);
}

.delete-btn:active {
    border-color: var(--clr-triadic-1-300);
}

.modal-text {
    margin-bottom: 1em;
}

.reservation-list-container {
    padding: 40px 30px;
    text-align: center;
    background-color: #FFF;
    box-shadow: 2px 1px 16px rgba(0, 0, 0, 0.15);
    width: 80%;
    border-radius: var(--radius);
    overflow: hidden;
    margin: 0 auto;
    top: 50%;
    left: 50%;
}

.reservation-button{
    background-color: #FFF;
    color: #181515;
    border: none;
    padding: 30px 40px;
    border-radius: var(--radius);
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 90%;
    box-shadow: 2px 1px 16px rgba(0, 0, 0, 0.15);
    text-align: left;
}

.reservation-date{
    font-weight: 600;
    font-size: 1.3em;
    color: var(--salon-purple);
}

.reservation-id{
    font-weight: 600;
    font-size: 1.3em;
    color: var(--salon-purple);
}

.modal {
    display: none; /* Initially hide the modal */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
}

.modal-show {
    display: block; /* Show the modal when the "modal-show" class is added */
}

@media (max-width: 992px) {
    .admin-container {
        padding: 0 !important;
    }

    .admin-responsive-controls-container{
        z-index: 1000;
    }

    #service-collection-container {
        gap: 0;
        grid-template-columns: 1fr;
        border-radius: 0;
        box-shadow: 0;
        padding: 0;
    }

    .service-collection-preview-container {
        border-radius: 0;
        border: unset;
        box-shadow: unset;
        border-bottom: 2px solid var(--clr-primary-50);
        padding: calc(var(--radius) / 2);
    }

    .service-title {
        font-size: 2em;
        line-height: 1.25;
    }

    .option1-tag, .option2-tag{
        font-size: 0.75em;
    }

    .service-collection-controls-container {
        flex-direction: row;
        gap: 0.5rem;
        align-items: normal;
        justify-content: normal;
    }

    .edit-btn, .delete-btn {
        padding: 0.5rem 1.5rem;
        font-size: 0.85em;
        flex: 5 0 0;
    }
}