.service-section-container{
    background-color: #FFF;
    box-shadow: 2px 1px 16px rgba(0, 0, 0, 0.15);
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 2em;
    gap: 2em;
    justify-content: space-around;
}

.tabular-service-table{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-collapse: separate;
    border-spacing: 1em .5em;
}

.standalone-service-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    padding: 1em;
}

.first-row{
    text-align: left;
}

.tabular-service-title{
    font-size: 30px;
    font-weight: 900;
    flex: 7 0 0;
    color: var(--clr-primary-700);
}

.tabular-service-option{
    font-size: 20px;
    flex: 1 0 0;
    font-weight: 800;
    text-align: center;
    padding: 0em 0em 0em 1em;
}

.tabular-service-suboption,.standalone-service-option{
    text-align: left;
    font-size: 20px;
    font-weight: 800;
}

.standalone-service-row{
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.tabular-service-price, .no-price, .standalone-service-price{
    flex: 1 0 0;
    text-align: right;
    font-weight: 600;
    font-size: 20px;
    color: gray;
}

tr:hover{
    border-bottom: 2px solid gray;
}